{% extends 'base.html' %}

{% block meta %}
  <title>Login</title>
{% endblock meta %}

{% block content %}
  <div class="bg-dark text-white text-center py-3">
    <h1>Login</h1>
  </div>

  <div class = "container text-center py-3">
    <form method="POST" action="">
      {% csrf_token %}
      <table class="table table-hover table-borderless align-middle">
        <tr>
          <th>Username: </th>
          <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
        </tr>
        <tr>
          <th>Password: </th>
          <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
        </tr>
      </table>
      <input class="btn btn-dark" type="submit" value="Login">
    </form>

    {% if messages %}
      {% for message in messages %}
        <br><span class="text-danger">{{ message }}</span>
      {% endfor %}
    {% endif %}

    <hr>
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
  </div>
{% endblock content %}