{% extends 'base.html' %}

{% block meta %}
  <title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}
  <div class="bg-dark text-white text-center py-3">
    <h1>Registrasi Akun</h1>
  </div>

  <div class = "container text-center py-3">
    <form method="POST" >  
      {% csrf_token %}  
      <table class="table table-hover table-borderless align-middle">  
        {{ form.as_table }}  
      </table>
      <input class="btn btn-dark" type="submit" name="submit" value="Daftar"/>    
    </form>
  </div>  
{% endblock content %}