{% extends 'base.html' %}

{% block meta %}
  <title>To-Do List</title>
  <style>
    .card{
      transition: all 0.2s ease;
    }
    .card:hover {
      opacity: 0.8;
      transform: scale(1.1);
    }
  </style>
{% endblock meta %}

{% block content %}
  <div class="bg-dark text-white text-center py-3">
    <h1>Tugas 4 PBP - To-Do List</h1>
  </div>
  
  <div class="container text-center py-3">
    <h4>Semangat mengerjakan task-mu, {{ username }}!</h4>

    {% if messages %}
      {% for message in messages %}
        <br><span class="text-success">{{ message }}</span><br>
      {% endfor %}
    {% endif %}

    <br>
    <div class="row justify-content-center">
      <div class="col-6 col-sm-4 col-md-3">
        <a class="btn btn-dark" href="{% url 'todolist:logout' %}">Logout</a>
      </div>
      <div class="col-6 col-sm-4 col-md-3">
        <a class="btn btn-dark" href="{% url 'todolist:create_task' %}">Tambah Task</a>
      </div>
    </div>
    <hr>

    <div class="row justify-content-center px-3">
      {% for task in tasks %}
        {% if task.user == user %}
          <div class="col-sm-6 col-md-4 p-3">
            <div class="card h-100 text-white bg-dark">
              <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <h6 class="card-subtitle text-muted">Dibuat pada {{ task.date }}</h6>
                <br>
                <p class="card-text">{{ task.description }}</p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>  
  </div>
{% endblock content %}